# Node modules
node_modules/

# Archivos de entorno
.env

# Claves de servicio de Firebase
proyecto-hosteleria-b6c98-firebase-adminsdk-fbsvc-5a68c8f64a

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db