<div [ngClass]="{'w-64': !isCollapsed, 'w-20': isCollapsed}" class="bg-gray-800 dark:bg-gray-900 text-white transition-all duration-300 h-full shadow-lg rounded-r-xl">
  <button (click)="toggleSidebar()" class="p-2 w-full flex items-center justify-center hover:bg-gray-700 transition-transform duration-300 rounded-r-xl">
    <span *ngIf="!isCollapsed">⏴</span>
    <span *ngIf="isCollapsed">⏵</span>
  </button>

  <nav class="flex flex-col space-y-2 mt-4 px-2 transition-all duration-300 items-center">
    <!-- Redireccion a carta -->
    <a routerLink="/carta" routerLinkActive="bg-gray-700"
       class="flex items-center space-x-2 p-2 rounded-lg hover:bg-gray-700 hover:scale-105 transition-all duration-300 ease-in-out">
      <lucide-icon name="my-icon" [img]="BookText" class="w-5 h-5"></lucide-icon>
      <span *ngIf="!isCollapsed">Carta</span>
    </a>

    <!-- Redireccion a mesa -->
    <a routerLink="/mesas" routerLinkActive="bg-gray-700"
       class="flex items-center space-x-2 p-2 rounded-lg hover:bg-gray-700 hover:scale-105 transition-all duration-300 ease-in-out">
      <lucide-icon name="my-icon" [img]="utensils" class="w-5 h-5"></lucide-icon>
      <span *ngIf="!isCollapsed">Mesas</span>
    </a>

    <!-- Redireccion a oferta-empleo -->
    <a routerLink="/oferta-empleo" routerLinkActive="bg-gray-700"
       class="flex items-center space-x-2 p-2 rounded-lg hover:bg-gray-700 hover:scale-105 transition-all duration-300 ease-in-out">
      <lucide-icon name="my-icon" [img]="BookText" class="w-5 h-5"></lucide-icon>
      <span *ngIf="!isCollapsed">Trabaja con nosotros</span>
    </a>
  </nav>
</div>
